<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />	
  <head>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      $("#content").find("h2").addAnchor(_("Link to this section"));

      $(".results-table").each(function() {
       $(this).find('tbody').load($(this).attr('data-url'));
      });
      $("#dialoggeturl").dialog({autoOpen:false, height:300,width:500, modal:true, title:"Report GET URL"});
      $("#content .get_url").click(function(){
         $("#dialoggeturl #geturlplaceholder").attr('href', this.href);
         $("#dialoggeturl #geturlplaceholder").html(this.href);
         $("#dialoggeturl").dialog('open');
       return false;
      });

      $("form").on('submit', function() {
        $("#content").fadeTo('slow', 0.3);
        // show some spinner?
      });
      })
    </script>
    <title>Business Intelligence Transformations</title>
  </head>

  <body>
    <h1>Available Transformations</h1>

    <div id="dialoggeturl">
      <p>
	To fetch this report result with another tool, provide this URL:
      </p>
      <tt><a id="geturlplaceholder" href="#"></a></tt>
      <p>
	<ol>
	  <li>Visit the <a href="${req.href.admin('access','serviceaccounts')}">Admin/Service Accounts</a> area to set up a new Service Account.</li>
	  <li>Ask <a href="mailto:${project.admin}">${project.admin}</a> to provide your new account the <tt>BUSINESSINTELLIGENCE_TRANSFORMATION_EXECUTE</tt> permission. Be sure to mention your #define project name.</li>
	  <li>Set the above URL into your other tool</li>
	</ol>
      </p>
      <p>
	You can also generate reports using the XMLRPC or JSON-RPC API, see 
	<a href="${req.href.rpc()+'#rpc.businessintelligence'}">the documentation at <tt>/rpc</tt></a>.
      </p>
    </div>

    <div id="content">
      <p>
	To request new jobs or transformations (collectively known as
	'reports'), or to ask for automated scheduling of existing
	jobs or transmations, please contact 
	<a href="mailto:${project.admin}">${project.admin}</a>.
      </p>
      <div py:for="transform, details in transformations.items()">
	<h2 id="${transform}">${details.name}</h2>
	<h3>${transform} (${details.version})</h3>
	<p>${details.description}</p>
	<form py:if="'BUSINESSINTELLIGENCE_TRANSFORMATION_EXECUTE' in req.perm"
	      method="post"
	      action="${req.href.businessintelligence()}">
	  <input type="hidden" name="transform" value="${transform}"/>
	  <button type="submit" name="action" value="execute">Execute</button>
	  <button type="submit" name="action" value="execute_async">Execute in Background</button>
	  <button type="submit" name="action" value="execute_download">Execute and Download</button>
	</form>
	<a class="get_url" href="${req.abs_href.businessintelligence(action='execute_download', transform=transform, disable_automatic_login=1)}">
	  Show integration URL
	</a>
	<br/>
	<a href="${req.href.browser('define-reports', transform)}">
	  Visit in File Archive
	</a>
	
	<table class="results-table rounded full-width border-header condensed"
	       data-url="${req.href.browser('define-reports', transform.split('/')[0])}">
	  <!-- Avoid using dirlist_thead.html" because that tries to do hyperlinkable headings
	       and also the contextmenu plugin doesn't insert the empty first th for the checkboxes !-->
	  <thead>
	    <tr>
	      <th>&nbsp;</th>
	      <th>Name</th>
	      <th>Size</th>
	      <th>Rev</th>
	      <th>Age</th>
	      <th>Author</th>
	      <th>Last Change</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>
  </body>
</html>
